@CHARSET "ISO-8859-1";
div
{  
	
	display:block;
	background-color:#ffffff;
	position:relative;
	top:29px;
    left : 34%;
    width: 40%;
    padding: 10px;
    border: 2px solid #ff8000;
    margin: 0;
}
.submit
{
	background-color: #ff8000;
    color: white;
    padding: 13px;
    font-size: 13px;
    font-weight:bold;
    border-width:medium;
    border-color: black;
    cursor: pointer;
}
.label
{
	font-weight: bold;
}